<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment List</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/admin_sidebar.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    <link rel="stylesheet" href="/images/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <a>Đăng xuất</a>
    </header>

    <div class="wrapper">
        <aside class="sidebar">
            <div class="sidebar_inner">
                <div class="flex sidebar_logo" href="/"><img height="60px" src="/images/logo1.png" alt=""></div>
                <div class="sidebar_account flex gap--medium">
                    <img src="/images/vidu.png" alt="" width="50px">
                    <span>Quản trị viên</span>
                </div>
    
                <div class="sidebar_actions">
                    <a href="#" class="sidebar_link active">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Thống kê
                    </a>
                    <div class="sidebar_link_group_container">
                        <p href="#" class="sidebar_link sidebar_link_group_label">
                            <span class="flex gap--medium">
                                <i class="fa fa-folder" aria-hidden="true"></i>
                                Quản lý
                            </span>
                            <i class="dropdown_icon fa fa-chevron-down" aria-hidden="true"></i>
                        </p>
                        <div class="sidebar_link_group">
                            <a class="sidebar_link active" href="#">Người dùng</a>
                            <a class="sidebar_link" href="#">Danh mục</a>
                            <a class="sidebar_link" href="#">Thiết bị</a>
                            <a class="sidebar_link" href="#">Phiếu đặt</a>
                            <a class="sidebar_link" href="#">Đơn hàng</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </aside>
    
        <div class="main_content">
            <div class="form-container">
                <div class="title">
                    <a><img src="/images/left.png"></a>
                    <h2>Thêm thiết bị thuê</h2>
                </div>
                
                <form>
                    <div class="form-group">
                        <label for="ten-san-pham">Tên sản phẩm:</label>
                        <input type="text" id="ten-san-pham" name="ten-san-pham">
                    </div>
                    <div class="form-group">
                        <label for="mo-ta">Mô tả:</label>
                        <textarea id="mo-ta" name="mo-ta"></textarea>
                    </div>
                    <div class="form-group inline">
                        <div class="half-width">
                            <label for="gia-thue">Giá thuê:</label>
                            <input type="number" id="gia-thue" name="gia-thue">
                        </div>
                        <div class="half-width">
                            <label for="so-luong-con">Số lượng còn:</label>
                            <input type="number" id="so-luong-con" name="so-luong-con">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="danh-muc">Danh mục:</label>
                        <select id="danh-muc" name="danh-muc">
                            <option value="">Chọn danh mục</option>

                        </select>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn-primary">Lưu lại</button>
                        <button type="button" class="btn-secondary">Hủy bỏ</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/admin_sidebar.js"></script>
</body>
</html>
