.overview {
    color: white;
    display: flex;
    gap: 1em;
}
.overview__item {
    display: flex;
    align-items: center;
    padding: 1.5em;
    gap: 1em;
    background-color: var(--bg-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    flex: 1;
    justify-content: space-between;
    border-radius: 0.25em;
}
.overview__count {
    font-size: 1.7rem;
    font-weight: bold;

}
.section_2 {
    display: flex;
    align-items: center;
    margin: 2em 0;
    gap: 1em;
}
.path_vistits_chart_container {
    flex: 2;
}
.sales_by_category_chart_container {
    flex: 1;
}